@charset "utf-8";
/* CSS Document */

root { 
    display: block;
}


body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color:#ddeef6;
}
.principal {
	position: absolute;
	border: 0px solid;
	left: 217px;
	top: 40px;
	width: 927px;
	height: 98px;
	background-color:#06F;
}
.banner{
	font-family: Calibri, sans-serif, serif;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
	background-color:#333;
	color: #ffffff;
	width: 261px;
	margin: auto;
	position:absolute;
	left: 10px;
	top: 13px;
	height: 73px;
	border: 1px solid ;
	-moz-border-radius: 7px;
	-webkit-border-radius:7px;
	
		
}
.pie-pagina{
	position: absolute;
	border: 0px solid;
	left: 217px;
	top: 611px;
	width: 929px;
	height: 63px;
	background-color:#06F;
}

#registro{
	position: absolute;
	left: 19px;
	top:33px;
	border: 0px solid;
	width:470px;
	height: 417px;
	color: #06C;
	background-color: #CCC;
}

#login{
	position: absolute;
	left: 682px;
	top:49px;
	color: #ffffff;
	width:334px;
	height: 0px;
	
	
}
#lado1{
	position: absolute;
	left: -2px;
	top:40px;
	border: 0px solid;
	width:219px;
	height: 635px;
	background-color:#333;
}
#lado2{
	position: absolute;
	left: 1146px;
	top:41px;
	border: 0px solid;
	width:208px;
	height: 634px;
	background-color:#333;
}

	
#log{
	position:absolute;
	width: 508px;
	height: 94px;
	background-color: #09C;
	left: 412px;
	top: 4px;
}

#form3{
	position:absolute;
	left: 151px;
	top: 199px;
	width: 55px;
	height: 29px;
}
#form4{
	position:absolute;
	width: 86px;
	height: 118px;
	top: 70px;
	left: 10px;
}
#login #form1 table tr td div {
	font-size: 14px;
}
#boton1{background-color:#666;
color:#FFF;}
#boton2{
	background-color:#06F;
	color:#FFF;
	position:absolute;
	left: -142px;
	top: 357px;
	width: 106px;
	height: 30px;
}


.contenedor{
	position:absolute;
	left: 230px;
	top: 158px;
	width: 916px;
	height: 478px;
}

	

#marco{
	position:absolute;
	left: 630px;
	top: 41px;
	width: 506px;
	height: 96px;
	color: #00F;
	border: 1px solid;
}
#exito {
	color: #D8000C;
	position: absolute;
	left: 41px;
	top: 374px;
	width: 313px;
	height: 31px;
	float: right;
	
	
	
	
	}
	#tablatop{
	position:absolute;
	left: 33px;
	top: 80px;
	height: 282px;
	width: 428px;
}
#header{
	position:absolute;
	left: 572px;
	top: 26px;

}
#resultado{
	position:absolute;
	left: 5px;
	width: 495px;
	top: 286px;
	height: 56px;
}
#boton{
	position:absolute;
	left: 41px;
	top: 337px;
	width: 78px;
	height: 28px;
}
#botton{
	position:absolute;
	left: 263px;
	top: 54px;
	width: 70px;
	height: 26px;
}
#table{
	position:absolute;
	left: 37px;
	top: 15px;
	height: 161px;
}
#superio{
	position:absolute;
	left: -2px;
	width: 1357px;
	top: 1px;
	height: 38px;
	background:#000;
	
}
	
	#sup{
	position:absolute;
	left: 681px;
	width: 293px;
	top: 12px;
	height: 16px;
	color: #F00;
}
#background{
	position:absolute;
	width: 235px;
	height: 631px;
	left: -19px;
	top: 40px;
}
#background1{
	position:absolute;
	width: 1357px;
	height: 42px;
	left: -2px;
	top: 0px;
	
}
#background2{
	position:absolute;
	width: 209px;
	height: 634px;
	left: 1145px;
	top: 41px;
}
ul{
margin:0px;
padding:0px;
overflow:hidden;
}
li{
	float:left;
	list-style:none;
	padding:10px;
	background-color:#333;
	border:1px solid #ccc;
}
li a{
	color:white;
	font-family:arial;
	text-decoration:none;
	
}
#content_wrapper{
	width:400px;
	height:300px;
	background-color:#ccc;
	margin:0px;
	padding:6px;
	overflow:hidden;
	position:absolute;
	left: 1px;
	top: 43px;
}
#limpiar{
	position:absolute;
	left: 132px;
	top: 337px;
	width: 77px;
	height: 27px;
}
#img{
	position:absolute;
	height: 458px;
	width: 411px;
	left: 218px;
	top: 141px;
}
